body {
    background-color: white;
}

.nvbr {
    background: linear-gradient(to right, #ffffff 40%, #ff9100 100%);
}

.nvbr-logow {
    font-size: 26px;
    font-weight: 500;
    color: #ff9100;
}

.fontnavbar {
    font-size: 20px;
    /* font-weight: 450; */
}